:root {
  --color-primary: #00e3ff;
  --color-secondary: #00bbff;
  --color-tertiary: #b74aff;

  --color-alpha: #ffffff;
  --color-beta: #d2d2d2;
  --color-kappa: #858585;
  --color-lambda: #0f0f0f;
  --color-psi: #000000;
  --color-omega: #1b1b1b;

  --color-success: #73eaa8;
  --color-warning: #fbd004;
  --color-danger: #ff4848;
}
